<%- include partials/header %>

  <style>

    .modal {
      background: #CCC;
      height: 100%;
      opacity: .75;
      position: absolute; top: 0; left: 0;
      width: 100%;
      z-index: 999;
    }
    #loading {
      list-style: none;
      margin: 250px auto;
      text-align: center;
      width: 400px;
    }
    
    /* Loading animation inspired by http://codepen.io/joni/details/FiKsd */
    @keyframes loader{
      50% { height: 6px; margin-top: 74px; opacity: .1; }
    }
    .bar {
      height: 80px;
      width: 6px;
      border-radius: 3px;
      background: #333;
      display :inline-block;
      margin: 0 2px;      
      animation: loader 1.3s infinite;
    }
    .bar:nth-child(1) { animation-delay: .1s; }
    .bar:nth-child(2) { animation-delay: .2s; }
    .bar:nth-child(4) { animation-delay: .4s; }
    .bar:nth-child(5) { animation-delay: .5s; }
    .bar:nth-child(6) { animation-delay: .6s; }
    .bar:nth-child(7) { animation-delay: .7s; }
    .bar:nth-child(8) { animation-delay: .8s; }
    .bar:nth-child(9) { animation-delay: .9s; }
    .bar:nth-child(10) { animation-delay: 1s; }
  </style>

  <!-- Fixed navbar :: Start-->
  <nav class="navbar navbar-default navbar-fixed-top">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">IDEATION</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div ng-include="'/app/partial/menu.html'"></div>
      </div><!--/.nav-collapse -->
    
  </nav>
  <!-- Fixed navbar :: Emd-->

  <!-- Page main content :: Start -->
  <div class="container">
    <!--<div class="page-header">
      <h1>Page Title {{page_title}}</h1>
    </div>-->

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- application notification area, required for angular-growl-2-->
    <div growl></div>

    <div ng-view></div>

    <div class="modal" ng-show="loadingView">
      <ul id="loading">
        <li class="bar" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]"></li>
      </ul>
    </div>

  </div>
  <!-- Page main content :: End -->

  <!-- Page footer :: Start -->
  <footer class="footer">
    
      <p class="text-muted">&copy; All rights reserved 2015. Angular seed app: v<span app-version></span></p>
  
  </footer>
  <!-- Page footer :: End -->

<%- include partials/footer %>
