
<%- include include-std %>

<script type="text/javascript" src="/app/admin/adminModule.js"></script>
<script type="text/javascript" src="/app/admin/userControllerMain.js"></script>
<script type="text/javascript" src="/app/admin/groupControllerMain.js"></script>
<script type="text/javascript" src="/app/admin/adminRouter.js"></script>

</body>
</html>